<h1>Créer un article</h1>

<form method="POST" action="">
   <div>
      <label for="title">Title</label><br>
      <input type="text" id="title" name="title">
   </div>

   <div>
      <label for="description">Description</label><br>
      <textarea id="description" rows="5" col="60" name="descri"></textarea>
   </div>

   <input type="submit" value="Créer article">

</form>
