{% extends 'base.html.twig' %}


    {% block title %}Index d'articles{% endblock %}

    {% block body %}
        <div class="container-fluid">
            <div class="card-group">

                {% for article in articles %}
                    <blog>
                        <div class="card m-5" style="width: 25rem;">
                            <div class="card-header">{{ article.date | date('d/m/Y') }}</div>
                            <div class="picture">
                                <img src="https://via.placeholder.com/300x200" class="rounded mx-auto d-block" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ article.title }}</h4>
                                <p class="card-text">{{ article.description }}</p>
                                <a href="{{ path('show_article', {'id' : article.id }) }}" class="btn boutons">Par ici</a>
                            </div>
                        </div>
                    </blog>
                {% endfor %}

            </div>
        </div>
    {% endblock %}    

